// Font Vars
$primary-font: "Helvetica", sans-serif;
$secondary-font: "Avenir", sans-serif;
$primary-color: #212353;
$secondary-color: #4B5D68;

// Media Query Vars
$small: 30em; // 480px
$small-1: 33.4em;// 534px
$small-2: 37.5em; // 600px
$medium: 47.5em; // 760px
$medium-1: 53.75em; // 860px
$medium-2: 60em; // 960px
$medium-3: 67em; // 1072px
$large: 72em; // 1152px

*, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    padding-top: 4.7rem;
    max-width: 112rem;
    margin: auto;
    overflow-x: hidden;

    @media only screen and (max-width: $large) {
        padding-top: 2rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    @media only screen and (max-width: $medium) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    @media only screen and (max-width: $small) {
        padding-left: .2rem;
        padding-right: .2rem;
    }
}
h1 {
    color: $primary-color;
    font-family: $primary-font;
    font-size: 8rem;
    font-weight: 700;
    line-height: 8.8rem;
    padding: 0;
    margin: 0;

    @media only screen and (max-width: $small-1) {
        font-size: 6rem;
        line-height: 6.6rem;
    }
}
h2 {
    color: $primary-color;
    font-family: $primary-font;
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.2rem;
    padding: 0;
    margin: 0;
}
h3 {
    color: $primary-color;
    font-family: $primary-font;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.12rem;
    padding: 0;
    margin: 0;
}
p {
    color: $secondary-color;
    font-family: $secondary-font;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.88rem;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.button {
    font-family: $secondary-font;
    border-radius: 5rem;
    border: none;
    cursor: pointer;

    &--demo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $primary-color;
        background: #FFFFFF;
        box-shadow: 0rem .5rem .5rem rgba(75, 93, 104, 0.1);
        width: 21.0rem;
        height: 6.0rem;
        padding-left: 2.9rem;
        padding-right: 2.9rem;
        font-weight: 800;
        font-size: 1.6rem;
        line-height: 2.6rem;
        letter-spacing: 0.005rem;
        margin-left: auto;
    }
    &--bold {
        font-weight: 900;
    }
    &--purple {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        font-size: 1.8rem;
        font-weight: 800;
        line-height: 2.88rem;
        background: #9C69E2;
        width: 17rem;
        height: 6rem;
    }
    &--pink {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        font-size: 1.8rem;
        font-weight: 900;
        line-height: 2.88rem;
        background: #F063B8;
        width: 17rem;
        height: 6rem;
    }
}
.header {
    min-height: 75.4rem;

    @media only screen and (max-width: $small-2) {
        min-height: auto;
    }

    &__image {
        position: absolute;
        margin-top: 28.6rem;
        margin-left: 36.3rem;

        @media only screen and (max-width: $small-2) {
            display: none;
        }
    }
    // start with medium 1 MQ
    &__nav {
        display: flex;
        align-items: center;

        &__logo {
            margin-right: 12.1rem;
        }
        &__links {
            display: flex;
            font-family: $secondary-font;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 2.6rem;
            list-style-type: none;

            &__link {
                color: $secondary-color;
                margin-right: 4rem;
        
                &--is-active{
                    color: $primary-color;
                    font-weight: 800;
                }
            }
        }
    }
    &__text {
        margin-top: 13rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 64.5rem;
        min-height: 46.4rem;

        @media only screen and (max-width: $small-2) {
            margin-top: 5rem;
            max-width: 76.8rem;
        }
        @media only screen and (max-width: $small) {
            min-height: 40rem;
        }

        &__paragraph {
            max-width: 38rem;
            
            @media only screen and (max-width: $small-2) {
                max-width: inherit;
            }
        }
    }
}
.callout {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10.218rem;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 5rem;
    max-width: 111.7rem;
    max-height: 100rem;

    @media only screen and (max-width: $small-2) {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    @media only screen and (max-width: $small) {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }
    
    &__image {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 3.182rem;
        margin-left: 1.1rem;
        width: 47.7rem;
        height: 50.4rem;
        
        @media only screen and (max-width: $large) {
            width: auto;
            height: auto;
            margin: auto;
        }
        @media only screen and (max-width: $small-2) {
            position: relative;
            left: -6rem;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 47.5rem;
        height: 31rem;
        margin-left: 6.2rem;
        margin-right: 9.2rem;
        margin-top: 12.5rem;
        margin-bottom: 12.5rem;

        @media only screen and (max-width: $large) {
            margin: auto;
            margin-bottom: 8rem;
        }
    }
}
.feature {
    margin-top: 14.982rem;
    max-width: 112rem;
    min-height: 102.6rem;
    display: flex;
    flex-direction: column;

    &__text {
        max-width: 58.4rem;
        min-height: 16rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: center;
        text-align: center;
    }
    &__blocks {
        margin-top: 10rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media only screen and (max-width: $large) {
            justify-content: center;
        }

        &__block {
            display: flex;
            justify-content: space-between;
            height: 35.8rem;
            margin-bottom: 5rem;
            background-repeat: no-repeat;
            background-position: right;
    
            &--search-data {
                background-image: url('./images/search_data_background.svg');
                width: 53.129rem;
            }
            &--anytime-access {
                background-image: url('./images/24_hour_access_background.svg');
                width: 54.428rem;
            }
            &--print-out {
                background-image: url('./images/print_out_background.svg');
                width: 55.028rem;
            }
            &--security-code {
                background-image: url('./images/security_code_background.svg');
                width: 53.928rem;
            }

            &__image {
                position: relative;
                
                @media only screen and (max-width: $small) {
                    & img {
                        width: 100%;
                        height: auto;
                    }
                }
                &--search-data {
                    top: 7.3rem;

                }
                &--anytime-access {
                    top: 7.1rem;
                }
                &--print-out {
                    top: 12.3rem;
                }
                &--security-code {
                    top: 8.6rem;
                }
            }
            &__content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-top: 4.9rem;
                margin-right: 5rem;
                margin-bottom: 3.3rem;
                width: 22rem;
        
                &__description {
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 2.56rem;
                }
                &__cta {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 12.7rem;
                    height: 2.6rem;
                    font-family: $secondary-font;
                    color: $primary-color;
                    font-size: 1.6rem;
                    font-weight: 800;
                    line-height: 2.6rem;
                    letter-spacing: .005rem;
                }
            }
        }
    }
}
.testimonial {
    margin-top: 10rem;
    background-color: #9C69E2;
    border-radius: 5rem;
    max-width: 111.8rem;
    max-height: 70.9rem;
    padding-top: 10.9rem;
    padding-left: 9.3rem;
    padding-bottom: 5.8rem;

    @media only screen and (max-width: $large) {
        padding-top: 5.8rem;
    }
    @media only screen and (max-width: $medium) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    @media only screen and (max-width: $small) {
        padding-left: 0;
    }

    &__header {
        color: #FFFFFF;

        @media only screen and (max-width: $small) {
            text-align: center;
        }
    }
    &__cards {
        margin-top: 8.8rem;
        display: flex;

        @media only screen and (max-width: $large) {
            justify-content: center;
            padding-right: 7.3rem;
            margin-top: 5rem;
        }

        @media only screen and (max-width: $small) {
            margin-top: 3rem;
            padding-right: 0;
        }

        &__card {
            display: flex;
            width: 64.5rem;
            height: 33rem;
            border-radius: 2rem;
            margin-right: 2rem;
            background: #FFFFFF;
            box-shadow: 0rem 2rem 0rem #8a56da;

            @media only screen and (max-width: $medium) {
                width: 50rem;
                margin-right: 0;
            }
            @media only screen and (max-width: $small-2) {
                width: 40rem;
            }
            @media only screen and (max-width: $small) {
                width: 33rem;
            }
    
            &--next {
                position: relative;
                margin-right: 0;
                width: 40rem;
                border: .1rem solid #9C69E2;
                box-shadow: 0rem 2rem 0rem #9863e0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;

                @media only screen and (max-width: $large) {
                    display: none;
                }
    
                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    right: 0;
                    width: 22rem;
                    height: 35rem;
                    background-image: linear-gradient(270deg, #9b69e2e5 5%, rgba(255, 255, 255, 0) 100%);
                }
            }
            &__image {
                margin-top: 6rem;
                margin-left: 7rem;
                border-radius: 50%;
                width: 9rem;
                height: 9rem;

                @media only screen and (max-width: $medium) {
                    margin-top: 3rem;
                    margin-left: 3.5rem;
                }
        
                &--next {
                    margin-left: 4rem;
                    margin-top: 5.5rem;
                    opacity: .8;
                }
            }
            &__content {
                display: flex;
                flex-direction: column;
                width: 50.5rem;
                height: 22rem;
                margin-top: 8rem;
                margin-left: 3rem;
                margin-bottom: 5rem;
                margin-right: 7rem;

                @media only screen and (max-width: $medium) {
                    margin-top: 4rem;
                    margin-right: 3.5rem;
                }
                @media only screen and (max-width: $small) {
                    margin-top: 4rem;
                    margin-right: 3.5rem;
                    max-height: 22rem;
                    overflow: hidden;
                }
                &--next {
                    width: 18rem;
                    height: 20rem;
                    margin-top: 7.5rem;
                    margin-right: 0;
                }
        
                &__identity {
                    margin-bottom: 1.9rem;
                    
                    &__name {
                        color: $primary-color;
                        font-weight: 800;
                        letter-spacing: .005rem;
                    }
                    &__website {
                        color: #9C69E2;
                        letter-spacing: .01rem;
                        line-height: 2.24rem;
                        font-size: 1.4rem;
                
                    }
                }
                &__text {
                    line-height: 3.24rem;
                    font-weight: 400;
            
                    &--next {
                        opacity: .6;
                    }
                }
            }
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        margin-top: 6rem;
        margin-right: 7.6rem;

        @media only screen and (max-width: $small) {
            margin-right: 4rem;
            margin-left: 4rem;
        }
        
        &__slider {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 0;
            height: 1rem;
            
            &__page {
                list-style-type: none;
                background-image: url('./images/ellipse.svg');
                width: .5rem;
                height: .5rem;
                margin-right: 1rem;
        
                &--active {
                    background-image: url('./images/active_ellipse.svg');
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
        &__page-arrows {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 8rem;
        }
    }
}
.footer {
    margin-top: 15rem;
    margin-bottom: 8.9rem;

    &__divider {
        position: absolute;
        left: 0;
        width: 100%;
        height: .2rem;
        background: #9C69E2;
        opacity: 0.2;
        
    }
    &__cta {
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
        top: 10rem;

        @media only screen and (max-width: $medium-2) {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__hook {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 58.4rem;
            height: 10.1rem;

            @media only screen and (max-width: $medium-2) {
                text-align: center;
            }
        }
        &__buttons {
            display: flex;
            justify-content: space-between;
            width: 41rem;
            height: 6rem;

            @media only screen and (max-width: $medium-2) {
                margin-top: 3rem;
            }
        }
    }
    &__map {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 25rem;

        @media only screen and (max-width: $medium-1) {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__company {
            display: flex;
            flex-direction: column;
            
            @media only screen and (max-width: $small-2) {
                align-items: center;
            }
            
            &__icons {
                visibility: hidden;
                width: 17.8rem;
                margin-top: 3rem;
                display: flex;
                justify-content: space-between;

                @media only screen and (max-width: $small-2) {
                    visibility: visible;
                }
            }
            &__identity {
                display: flex;
                align-items: center;
                
                &__name {
                    margin-left: 2rem;
                    font-family: $secondary-font;
                    color: $primary-color;
                    font-size: 2rem;
                    font-weight: 900;
                    line-height: 3.2rem;
                }
            }
            &__address {
                font-family: $secondary-font;
                color: $primary-color;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 2.88rem;
                letter-spacing: 0.01rem;
                margin-top: 6.5rem;

                @media only screen and (max-width: $medium-1) {
                    display: none;
                    text-align: center;
                }
            }
            &__contact {
                font-family: $secondary-font;
                color: $primary-color;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 2.88rem;
                letter-spacing: 0.01rem;
                margin-top: 1rem;

                @media only screen and (max-width: $medium-1) {
                    display: none;
                    text-align: center;
                }
            }
        }
        &__links {
            display: flex;

            @media only screen and (max-width: $medium-1) {
                flex-wrap: wrap;
                margin-top: 5rem;
                width: 100vw;
                justify-content: center;
            }
    
            &__header {
                font-family: $secondary-font;
                color: $primary-color;
                font-weight: 900;
                font-size: 1.6rem;
                line-height: 2.6rem;
                margin-bottom: 3rem;
            }
            &__text {
                font-family: $secondary-font;
                color: $primary-color;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 4rem;
            }
            &__about {
                list-style-type: none;
                padding-left: 0;
                margin-top: 1rem;
                margin-left: 5rem;
                width: 16.6rem;
            }
            &__help {
                list-style-type: none;
                padding-left: 0;
                margin-top: 1rem;
                margin-left: 5rem;
                width: 16.6rem;

                @media only screen and (max-width: $medium-3) {
                    margin-left: 0rem;
                }
                @media only screen and (max-width: $medium-1) {
                    width: 11.6rem;
                }
            }
            &__social {
                height: 11rem;
                width: 17.8rem;
                margin-top: 1rem;
                margin-left: 5rem;
                margin-right: 3.2rem;

                @media only screen and (max-width: $medium-3) {
                    margin-left: 0rem;
                }
                @media only screen and (max-width: $small-2) {
                    display: none;
                }
        
                &__icons {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}